// Colors
$main-color: #282c34;
$pink: #b318f0;
$gray: #cccccc;
$white: #ffffff;
$border-color: #7489AA;
$button-color: #317787;
$modal-bg: #F2F4F7;
$error-color: red;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;
$xxxl: 1700px;


$font-sen: 'Sen', sans-serif;


$font-size-small: 11px;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-superbold: 800;
