.image-container {
  max-width: 316px;
  margin-top: -1rem;
}

.gallery-image {
  display: inline-block;
  margin-bottom: 0; /* Adjust margin as needed */
  border: 6px solid #fff; /* Border color */
  box-shadow: 0 1px 3px rgba(0,0,0,.1); /* Shadow effect */
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.05);
}
