@import '../Variables.module.scss';

.login-form {
  position: fixed;
  width: 25%;
  bottom: 40%;
  left: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #7489AA;
  padding: 20px;
  transition: ease-in 1s;
  border-radius: 6px;
  background: #F2F4F7;
  height: 385px;


  input {
    width: 200px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #7489AA;
    border-radius: 6px;
    outline-color: #7489AA;
  }

  button {
    width: 200px;
    border: 1px solid #317787;
    background: #317787;
    color: $white;
    font-weight: $font-weight-bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 1rem;
  }
}

.login-form-hidden {
  position: fixed;
  left: 38%;
  width: 25%;
  bottom: -300px;
  display: flex;
  border-radius: 6px;
}


.login-form-title {
  color: #317787;
  font-size: 2.0625rem;
  line-height: 3rem;
}


