@import '../Variables.module.scss';

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $gray;
  padding: 20px;
  transform: translate(0%, 290%);
  transition: transform 4s;
}

.login-form:hover {
  transform: translate(-50%, -50%);
  color: gray
}

.login-form-title {
  color: $pink;
}
