.dashboard {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: calc(100%);
  padding: 1rem;
}

.dashboard-content {
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: calc(100%);
}

.column-center {
  flex: 3;
}

.column-left, .column-right {
  flex: 1;
}

.column-left {
  margin-right: 0.625rem;
}

.column-right {
  margin-left: 10px;
}
