.dashboard {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: calc(100%);
}

.column-center {
  flex: 3;
}

.column-left, .column-right {
  flex: 1;
}

.column-left {
  margin-right: 0.625rem;
}

.column-right {
  margin-left: 10px;
}
